openapi: 3.0.0

info:
  title: "Pokemon REST API"
  description: "An API for Pokemon"
  version: "1.0.0"

servers:
  - url: "/api"

components:
  schemas:
    Pokemon:
      type: "object"
      required:
        - name
      properties:
        name:
          type: "string"
        description:
          type: "string"
        types:
          type: "array"
          items:
            type: "string"

paths:
  /pokemon:
    # GET
    get:
      operationId: "src.pokemon.read_all"
      tags:
        - Pokemon
      summary: "Read the list of Pokemon"
      responses:
        "200":
          description: "Successfully read Pokemon"
    # POST
    post:
      operationId: "src.pokemon.create"
      tags:
        - Pokemon
      summary: "Create a Pokemon"
      requestBody:
        description: "Pokemon to create"
        required: True
        content:
          application/json:
            schema:
              x-body-name: "pokemon"
              $ref: "#/components/schemas/Pokemon"
      responses:
        "201":
          description: "Successfully created Pokemon"
